<header class="w-full flex items-center justify-between whitespace-nowrap
         border-b border-solid border-[#e6dfdb] dark:border-[#3a2d24]
         bg-white dark:bg-[#2d1f15]
         px-6 py-4 lg:px-10" >

  <div class="flex items-center gap-4 w-full">

    <button class="ml-auto flex items-center gap-2 px-4 py-2 rounded-full px-6 py-3 bg-primary text-white text-sm font-bold shadow-lg shadow-primary/20 hover:scale-105 active:scale-95 transition-all">
      New Order
    </button>

  </div>
</header>
