<div class="flex items-center gap-4 bg-gray-50 dark:bg-zinc-800/50 p-3 rounded-xl border border-transparent hover:border-primary/20 transition-all mb-4">
  <div class="size-14 rounded-lg overflow-hidden shrink-0">
    <img
      class="w-full h-full object-cover"
      data-alt="Thumbnail of classic beef burger"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuBfLuninXYbMOyrBkK6kEp9OHZMZE3oLyElNcx5aIlnAtHgWxiLAn5dX71WgK53KRrlioCSJFFJ_6-rJ4aksDZYLlxRiU0DTCSFuBmLzhEUL9-xhmWKdlTDs4CMuj-6EpaLJ4HAAs7Xb3VJPG0NPGEy3vO7PgS8f2G1Fc5NAAfcfoNgSFaJFFqNQyMGlC6DxOvfPYw-pYM5SsXzTKoYQ3QP7DmKlceD6b2NbKiwgUVUhrgleI1XKqv4S-4ebZlkw-mUMk07c1-CClY"
    />
  </div>
  <div class="flex-1 flex flex-col justify-center">
    <h4 class="text-sm font-bold truncate">Classic Beef</h4>
    <p class="text-xs text-primary font-bold">$17.98</p>
  </div>
  <div
    class="flex items-center bg-white dark:bg-zinc-900 rounded-full px-2 py-1 border border-gray-100 dark:border-zinc-700 shadow-sm"
  >
    <button
      class="size-6 flex items-center justify-center hover:text-primary"
    >
      <span class="material-symbols-outlined text-base">remove</span>
    </button>
    <span class="w-6 text-center text-sm font-bold">2</span>
    <button
      class="size-6 flex items-center justify-center hover:text-primary"
    >
      <span class="material-symbols-outlined text-base">add</span>
    </button>
  </div>
</div>
