body { font-family: 'Plus Jakarta Sans', sans-serif; }
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.active-category {
    background-color: #f47b25;
    color: white;
}
